.heading
{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
}
 
  .innercard
  {
    width: 800px;
    height: auto;
    margin-left:90px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .outercard
  {
    width: 1000px;
    height:  auto;
    margin-left:150px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .membercard
  {
    width: 400px;
    height:  auto;
    margin-left:50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .meminnercard
  {
    width: 350px;
    height: auto;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .loginfields
  {
    margin-left: 25px;
  }
  .validation-message
  {
    color: red;
  }
  .registrationfields
  {
    margin-left: 120px;
  }
  .buttons
  {
    margin-left: 120px;
  }
