<div class="card outercard">
    <div class="card-header heading">
        <h4>HealthCare Member Portal</h4>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded innercard">
        <div class="card-header">
            <h4>Sign In</h4>
        </div>
        <div style="height: 15px;"></div>
        <div class="cards-container">
            <div class="cards-form">
                <form class="form" (ngSubmit)="onSubmit()">
                    <div class="loginfields">
                        <div class="form-group">
                            <label>User Name :</label>
                            <div>
                                <input type="text" #username="ngModel" [(ngModel)]="cred.userName" name="username"
                                    placeholder="UserName" required
                                    [ngClass]="{'invalid-textbox' : submitted && !username.valid }">&nbsp;&nbsp;
                                <span *ngIf="submitted && username.errors">
                                    <label *ngIf="username.errors?.['required']" class="validation-message">This field
                                        is
                                        required.</label>

                                </span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="">Password : </label>
                            <br>
                            <div>
                                <input type="password" #password="ngModel" [(ngModel)]="cred.password" name="password"
                                    placeholder="Password" required [pattern]="passwordpattern" maxlength="15"
                                    minlength="8"
                                    [ngClass]="{'invalid-textbox' :submitted && !password.valid }">&nbsp;&nbsp;
                                <span *ngIf="submitted && password.errors">
                                    <label *ngIf="password.errors?.['required']" class="validation-message">This field
                                        is
                                        required.</label>


                                </span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">SIGN IN</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h5 class="loginfields">New User?</h5>
                <div class="form-group loginfields">
                    <button class="btn btn-primary" (click)="signup()">Register</button>
                </div>

            </div>

        </div>
    </div>
</div>