<div class="card outercard">
    <div class="card-header heading">
        <h4>HealthCare Member Portal</h4>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded innercard">
        <div class="card-header">
            <h4>User Registration</h4>
        </div>
        <div style="height: 15px;"></div>
        <div class="cards-container">
            <div class="cards-form">
                <form class="form" #signup="ngForm" (ngSubmit)=" signup.form.valid && onSubmit()" novalidate
                    [appMatchPassword]="['password', 'confirmpassword']">
                    <div class="loginfields">
                        <div class="row form-group">
                            <div class="col">
                                <label style="padding-right: 56px;">User Name
                                    :</label>
                                <input type="text" #username="ngModel" [(ngModel)]="Member.userName" name="username"
                                    placeholder="UserName" id="username" minlength="5" required
                                    [ngClass]="{'invalid-textbox' :signup.submitted && !username.valid  }"
                                    matchusername>&nbsp;&nbsp;
                                <span *ngIf="signup.submitted && username.invalid  ">
                                    <label *ngIf="username.errors?.['required']" class="validation-message">User Name
                                        is
                                        required.</label>
                                    <label *ngIf="username.errors?.['minlength']" class="validation-message">Enter
                                        atleast 5
                                        characters.</label>
                                    <!-- <label *ngIf="username.errors?.['forbiddenName']">
                                        Name cannot be Bob.
                                    </label> -->
                                    <label *ngIf="username.errors?.['matchusername']" class="validation-message">
                                        User Name already exsits
                                    </label>
                                </span>
                            </div>

                        </div>
                        <div style="height: 10px;">
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <label style="padding-right: 52px;" for="">Password :
                                </label>&ensp;&nbsp;
                                <input type="password" #password="ngModel" [(ngModel)]="Member.password" name="password"
                                    placeholder="Password" required [pattern]="passwordpattern" maxlength="15"
                                    minlength="8" [ngClass]="{'invalid-textbox' :signup.submitted && !password.valid }">
                                <span *ngIf="signup.submitted && password.errors">
                                    <label *ngIf="password.errors?.['required']" class="validation-message">Password is
                                        required.</label>

                                    <label *ngIf="password.errors?.['pattern']" class="validation-message">Password
                                        length should be minimum 8 and maximum 15 characters.It should contain at least
                                        1 uppercase letter, 1 lowercase
                                        letter and 1 number
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div style="height: 10px;">
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <label for="">Confirm Password : </label>&nbsp;
                                <input type="password" #confirmpassword="ngModel" [(ngModel)]="Member.confirmpassword"
                                    name="confirmpassword" placeholder="Password" required [pattern]="passwordpattern"
                                    maxlength="15" minlength="8"
                                    [ngClass]="{'invalid-textbox' :signup.submitted && !confirmpassword.valid }">
                                <span *ngIf="signup.submitted && confirmpassword.errors">
                                    <label *ngIf="confirmpassword.errors?.['required']" class="validation-message">
                                        Confirm Password
                                        is
                                        required.</label>

                                    <label *ngIf="confirmpassword.errors?.['pattern']"
                                        class="validation-message">Password
                                        length should be minimum 8 and maximum 15 characters.It should contain at least
                                        1 uppercase letter, 1 lowercase
                                        letter and 1 number
                                    </label>
                                    <label *ngIf="confirmpassword.errors?.['matching']"
                                        class="validation-message">Passwords does not match
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="form-group">
                            <label style="padding-right: 49px;" for="">User Type : </label>&ensp;&nbsp;
                            <select #select="ngModel" style="width: 190px;" name="usertype" id="usertype"
                                [(ngModel)]='Member.userType' (change)="open(mymodal,Member.userType)" required>
                                <option value="Admin">Admin</option>
                                <option value="Member">Member</option>


                            </select>
                            <span *ngIf="signup.submitted && select.errors">
                                <label *ngIf="select.errors?.['required']" class="validation-message">User Type
                                    is required.</label>
                            </span>
                        </div>
                        <div style="height: 10px;"></div>

                    </div>
                    <hr>
                    <div class="form-group registrationfields">
                        <button class="btn btn-secondary" (click)="onreset(signup)">Reset</button>&nbsp;
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <hr>
                    <h5 class="loginfields">Already have an account?</h5>
                    <div class="form-group loginfields">
                        <button class="btn btn-primary" (click)="login()">SIGN IN</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<ng-template #mymodal let-modal>
    <div class="card membercard">
        <div class="card-header heading">
            <h4>HealthCare Member Portal</h4>

        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded meminnercard">
            <div class="card-header">
                <h4>Member Registration</h4>
            </div>
            <div style="height: 15px;"></div>
            <div class="cards-container">
                <div class="cards-form">
                    <form name="Member" #f="ngForm" (ngSubmit)=" f.form.valid && onDetailsSubmit()" novalidate>
                        <div class="loginfields">
                            <div class=" form-group">
                                <div>
                                    <label for="" style="padding-right: 25px;">Name : </label>
                                    <input type="text" #firstname="ngModel" [(ngModel)]="Member.firstName"
                                        name="firstname" placeholder="FirstName" [ngModelOptions]="{standalone: true}"
                                        minlength="4" required [pattern]="namepattern"
                                        [ngClass]="{'invalid-textbox' : f.submitted && !firstname.valid }">&nbsp;&nbsp;
                                    <span *ngIf="f.submitted && firstname.errors">
                                        <label *ngIf="firstname.errors?.['required']" class="validation-message">First
                                            Name
                                            is
                                            required.</label>
                                        <label *ngIf="firstname.errors?.['pattern']" class="validation-message">First
                                            Name
                                            length should be minimum 5 and maximum 20 characters.
                                        </label>
                                    </span>
                                    <input type="text" #lastname="ngModel" [(ngModel)]="Member.lastName" name="lastname"
                                        placeholder="LastName" minlength="5" [ngModelOptions]="{standalone: true}"
                                        required [pattern]="namepattern"
                                        [ngClass]="{'invalid-textbox' : f.submitted && !lastname.valid }">&nbsp;&nbsp;
                                    <span *ngIf="f.submitted && lastname.errors">
                                        <label *ngIf="lastname.errors?.['required']" class="validation-message">Last
                                            Name
                                            is
                                            required.</label>
                                        <label *ngIf="lastname.errors?.['pattern']" class="validation-message">Last Name
                                            length should be minimum 5 and maximum 20 characters.
                                        </label>
                                    </span>
                                </div>
                            </div>

                            <div style="height: 10px;"></div>
                            <div class="form-group">
                                <label for="" style="padding-right: 37px;">DOB : </label>
                                <input type="date" style="width: 190px;" [max]="today"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="Member.dob">
                            </div>
                            <div style="height: 10px;"></div>
                            <div class="form-group">
                                <label for="" style="padding-right: 15px;">Address : </label>
                                <textarea #address="ngModel" [(ngModel)]="Member.address" name="address"
                                    placeholder="Address" maxlength="100" [ngModelOptions]="{standalone: true}" required
                                    style="width: 188px;"
                                    [ngClass]="{'invalid-textbox' : f.submitted && !address.valid }"></textarea>&nbsp;&nbsp;
                                <span *ngIf="f.submitted && address.errors">
                                    <label *ngIf="address.errors?.['required']" class="validation-message">Address
                                        is
                                        required.</label>
                                    <label *ngIf="address.errors?.['maxlength']" class="validation-message">Address
                                        length should not exceed 100 characters.
                                    </label>
                                </span>

                            </div>
                            <div style="height: 10px;"></div>
                            <div class="form-group">
                                <label for="" style="padding-right: 44px;">City : </label>
                                <input type="text" [(ngModel)]="Member.city" [ngModelOptions]="{standalone: true}"
                                    required placeholder="City" #city="ngModel" name="city"
                                    [ngClass]="{'invalid-textbox' : f.submitted && !city.valid }">
                                <span *ngIf="f.submitted && city.errors">
                                    <label *ngIf="city.errors?.['required']" class="validation-message">City
                                        is
                                        required.</label>
                                </span>
                            </div>
                            <div style="height: 10px;"></div>
                            <div class="form-group">
                                <label for="" style="padding-right:33px;">State : </label>
                                <select name="country" style="width: 190px;" [(ngModel)]="Member.state"
                                    #country="ngModel" [ngClass]="{'invalid-data': country.invalid && ! f.submitted}"
                                    required>
                                    <option *ngFor="let item of States" [value]="item.state">
                                        {{item.state}}
                                    </option>
                                </select>

                                <div *ngIf="country.invalid && f.submitted">
                                    <span style="color: red;">State is required</span>
                                </div>
                            </div>
                            <div style="height: 10px;"></div>
                            <div class="form-group">
                                <label for="" style="padding-right: 30px;">Email : </label>
                                <input type="email" #email="ngModel" [(ngModel)]="Member.email"
                                    [ngModelOptions]="{standalone: true}" name="email" placeholder="Email" required
                                    [pattern]="emailpattern"
                                    [ngClass]="{'invalid-textbox' :f.submitted && !email.valid }" matchemail>
                                <span *ngIf="f.submitted && email.errors">
                                    <label *ngIf="email.errors?.['required']" class="validation-message">Email is
                                        required.</label>

                                    <label *ngIf="email.errors?.['pattern']" class="validation-message">Enter Valid
                                        Email
                                    </label>
                                    <label *ngIf="email.errors?.['matchemail']" class="validation-message">
                                        Email already exsits
                                    </label>
                                </span>
                            </div>
                            <div style="height: 10px;"></div>

                        </div>
                        <hr>
                        <div class="form-group loginfields">
                            <button class="btn btn-disabled" (click)="modal.close('Save click')">Cancel</button>&nbsp;
                            <button type="submit" data-dismiss="modal" class="btn btn-primary">Submit</button>
                        </div>
                    </form>



                </div>

            </div>
        </div>
    </div>
</ng-template>