.heading
{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
}
 
  .innercard
  {
    width: 450px;
    height: auto;
    margin-left:100px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .outercard
  {
    width: 650px;
    height: auto;
    margin-left:300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .membercard
  {
    width: 650px;
    height:  auto;
    margin-left:300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .meminnercard
  {
    width: 400px;
    height: auto;
    margin-left:120px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .loginfields
  {
    margin-left: 25px;
  }
  .validation-message
  {
    color: red;
  }
  .registrationfields
  {
    margin-left: 120px;
  }
  .buttons
  {
    margin-left: 120px;
  }